body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.small-text{
    font-size: 12px;
}

.title{
    font-size: 52px;
    font-weight: 600;
}

.info{
    font-size: 20px;
    font-weight: 400;
}

.has-margin {
    margin-top: 10px;
    margin-bottom: 10px
}

.title-red{
    color:red;
}

.title-grey{
    color:grey;
}

.button{
    background-color:rgb(0, 113, 227);
    color:white;
    border-radius: 50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.link{
    text-decoration: none;
    color:rgb(0, 113, 227);
}

.book-image{
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-top: 50px;
}

.box{
    width:100%;
    height: 40px;
    background-color:  rgba(0, 0, 0, 0.8);
}

.box2{
    width: 100px;
    height: 40px;
}

.bar-image{
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.bar{
    display: inline-block;
}

.button-bar{
    background-color:transparent;
    border: none;
    color: white;
    text-align: center;
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
      }


.block{
    background-color:rgb(242, 242, 242);
    width: 600px;
	height: 700px;
    margin: 0px 25px;
    border:none;
    display: inline-block;
}

.block2{
    background-color:rgb(242, 242, 242);
    width: 600px;
	height: 700px;
    margin: 0px 25px;
    border:none;
    display: inline-block;
    top: 50%;
    transform: translateY(-5%);
}

.title1{
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
}

.title2{
    font-size: 45px;
    font-weight: 600;
    margin-left: 125px;
    margin-right: 125px;
}

.image2{
    width: 590px;
    height: 300px;
}

.text-box-margin{
    margin-left: 100px;
    margin-right: 100px;
}

.margin-image{
    margin-bottom: 75px;
}

.box-image{
    padding-top: 50px;
    width: 50px;
    height: 50px;
}

.title3{
    font-size: 20px;
    font-weight: 400;
}


.footer{
    background-color: rgb(245, 245, 247);
    color: rgb(81, 81, 84);
    width: 100%;
    height: 100px;
}

.text-footer{
    text-align: left;
    margin-left: 200px;
    padding-top: 25px;
}

.text-footer2{
    text-align: left;
    margin-left: 200px;
}




